@import '../../App.css';

.portfolio-target{
    width: 28.8rem;
    min-width: 28.8rem;
    min-height: 18.6rem;
    border: 1px solid var(--blue-medium-tittle);
    background: var(--main-white-back);
    border-radius: .6rem;
    padding: 1.2rem;
    z-index: 1;
    position: fixed;
    top: .6rem;
    right: -28.8rem;
    transform: translateX(0);
    transition-duration: 1.5s;
    transition-timing-function: ease;
}

.portfolio-target-change{
    width: 28.8rem;
    min-width: 28.8rem;
    min-height: 18.6rem;
    border: 1px solid var(--blue-medium-tittle);
    background: var(--main-white-back);
    border-radius: .6rem;
    padding: 1.2rem;
    z-index: 1;
    position: fixed;
    top: .6rem;
    right: -28.8rem;
    transform: translateX(-30.4rem);
    transition-duration:  1.5s;
    transition-timing-function: ease;
}

.portfolio-extensible{
    font-size: 1.6rem;
    height: 2.4rem;
    margin-top: 5.2rem;
    display: inline-flex;
    color: var(--black-main-font);
    font-weight: 500;
    width: 25.7rem;
    justify-content: space-between;
}

.portfolio-extensible .up-arrow{
    width: 2.4rem;
    height: 2.4rem;
    background-image: url('../../assets/icons/expand_down.svg');
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(0deg);
    transition-duration: 1.5s;
    transition-timing-function: ease;
}

.portfolio-extensible .down-arrow{
    width: 2.4rem;
    height: 2.4rem;
    background-image: url('../../assets/icons/expand_down.svg');
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(-180deg);
    transition-duration: 1.5s;
    transition-timing-function: ease;
}

.portfolio-cellphone{
    width: 16.5rem;
    height: 4.2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2.1rem;
    border: 1px solid var(--blue-medium-tittle);
    font-size: 1.6rem;
    color: var(--blue-second-tittle);
    margin: 0 auto;
    margin-top: 2.4rem;
}

.portfolio-cellphone .blue-phone{
    background-image: url('../../assets/icons/blue-phone.svg');
    width: 2rem;
    height: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.portfolio-tray-container{
    width: 100%;
    height: 0rem;
    transition: all 1.5s ease;
    overflow: auto;
}


.portfolio-tray-container-shrink{
    width: 100%;
    height: 23.1rem;
    transition: all 1.5s ease;
    overflow: auto;
}

.portfolio-tray{
    width: 100%;
    height: 69.2rem;
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    color: var(--blue-medium-tittle);
    font-weight: 500;
}

.portfolio-tray li{
    width: 17rem;
    align-self: center;
    list-style: none;
}


.portfolio-tray li:not(:first-child){
    margin-top: 4.2rem;
}


@media only screen and (min-width: 568px){
    .portfolio-tray-container-shrink{
        height: 14rem;
    }
}

@media only screen and (min-width: 568px){
    .portfolio-tray-container-shrink{
        height: 23.1rem;    
    }
}

