@import '../../App.css';

.portrait-container{
    width: 90%;
    margin: 0 auto;
}

.portrait .portrait-tittle{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 500;
    margin-top: 7.4rem;
    color: var(--black-main-font);
    font-family: "Satisfy", cursive;
}

.portrait .portrait-tittle > span{
    color: var(--blue-medium-tittle);
}

.portrait .portrait-description{
    margin-top: 1.2rem;
    font-size: 1.6rem;
    color: var(--black-main-font);
    font-weight: 600;
}

.portrait .portrait-description  span{
    color: var(--blue-medium-tittle);
    font-weight: 600;
}


.portrait .portrait-role{
    font-size: 1.4rem;
    margin-top: 1.2rem;
}

.portrait .portrait-photo{
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    background: #E2E2E2;
    margin: 0 auto;
    margin-top: 1.2rem;
}

.portrait .portrait-contact{
    width: 17rem;
    height: 4.2rem;
    border-radius: .6rem;
    background: var(--blue-medium-tittle);
    color: var(--main-white-back);
    display: block;
    margin: 0 auto;
    margin-top: 1.2rem;
    border: none;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    display: flex;
    font-size: 1.6rem;
    align-items: center;
    justify-content: space-around;
}

.portrait .portrait-whatsapp{
    width: 2.5rem;
    height: 2.5rem;
    background-image: url('../../assets/icons/white-whatsapp.svg');
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

@media only screen and (min-width: 568px) {
    .portrait .portrait-description{
        font-size: 2rem;
        text-align: center;
    }

    .portrait .portrait-role{
        font-size: 1.6rem;
        text-align: center;
    }

    .portrait .portrait-photo{
        margin-top: 4.6rem;
    }
}


@media only screen and (min-width: 744px){
    .portrait .portrait-tittle{
        font-size: 3.2rem;
    }

    .portrait .portrait-description,
    .portrait .portrait-role{
        width: 53.5rem;
        margin: 0 auto;
        margin-top: 1.2rem;
    }

    .portrait .portrait-role{
        margin-top: 1.6rem;
    }

    .portrait .portrait-photo{
        width: 16rem;
        height: 16rem;
        margin-top: 1.6rem;
    }

    .portrait .portrait-contact{
        margin-top: 1.6rem;
    }
}

@media only screen and (min-width: 1133px){
    .portrait-container{
        width: 95%;
        display: grid;
        margin-top: 14rem;
        grid-template: 7rem 10.6rem 12.5rem 6.7rem/repeat(2,1fr);
        grid-template-areas: "portrait-tittle portrait-photo"
                             "portrait-description portrait-photo"
                             "portrait-role portrait-photo"
                             "portrait-contact .";
        align-items: center;
    }

    .portrait .portrait-tittle{
        margin: 0;
        font-size: 4.8rem;
        text-align: left;
        grid-area: portrait-tittle;
    }

    .portrait .portrait-role{
        margin-top: 0;
        text-align: left;
        font-size: 2rem;
        grid-area: portrait-role;
    }

    .portrait .portrait-description{
        font-size: 2rem;
        text-align: left;
        margin-top: 0;
        grid-area: portrait-description;
    }

    .portrait .portrait-photo{
        width: 27rem;
        height: 27rem;
        grid-area: portrait-photo;
    }

    .portrait .portrait-contact{    
        grid-area: portrait-contact;
    }
}

@media only screen and (min-width: 1280px){
    .portrait-container{
        width: 80.93%;
    }

    .portrait .portrait-role,
    .portrait .portrait-description{
        width: 100%;
    }

    .portrait .portrait-description{
        font-size: 2.4rem;
    }
}