@import url('../../App.css');

.main-course{
    margin-top: 1.6rem;
}

.main-course-photo{
    width: 100%;
}

.main-course-info{
    background: var(--white-second-back);
}

.main-course-info-container{
    width: 90%;
    margin: 0 auto;
    padding: 1.6rem 0;
}

.main-course-info-container h1{
    text-align: center;
    font-size: 2.4rem;
    color: var(--blue-medium-tittle);
}

.main-course-info-container h1 + p{
    color: var(--black-main-font);
    font-size: 1.6rem;
    margin-top: 1.2rem;
}

.main-course-info-container h3{
    color: var(--blue-second-tittle);
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 400;
}

.main-course-modality{
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 1.6rem;
}

.main-course-info-container h2{
    color: var(--blue-medium-tittle);
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 500;
}

.main-course-contact{
    width: 27.3rem;
    height: 4.2rem;
    background: var(--blue-medium-tittle);
    color: var(--main-white-back);
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: .6rem;
    border: none;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 2.4rem;
    font-family: "Quicksand", sans-serif;
}

.main-course-contact span{
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url('../../assets/icons/white-whatsapp.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 568px){
    .main-course-info-container h1{
        font-size: 2.8rem;
    }

    .main-course-info-container h1 + p{
        font-size: 2rem;
    }
}